http_interactions:
- request:
    method: GET
    uri: https://kagi.com/api/v0/search?q=openalex+api&limit=1
  response:
    status: 200
    headers:
      x-kagi-trace: c98862e8b1b417313ca165994808358b
      content-type: application/json
    body:
      string: '{"meta":{"id":"c98862e8b1b417313ca165994808358b","node":"europe-west4","ms":1214,"api_balance":102.467337},"data":[{"t":0,"url":"https://developers.openalex.org/","title":"Overview
        - OpenAlex Developers","snippet":"We offer a fast, modern REST API to get
        OpenAlex data programmatically. It&#39;s free but requires an API key (also
        free). Get yours at openalex.org/settings/api."},{"t":1,"list":["openalex
        api documentation","openalex api limit","openalex api search","openalex api
        python"]}]}'
  recorded_at: 2026-04-09 07:20:55
recorded_with: VCR-vcr/2.0.0
