http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v0/summarize
    body:
      string: '{"text":"Biodiversity underpins ecosystem services such as pollination,
        soil fertility, water purification, and climate regulation. Habitat loss,
        pollution, invasive species, and climate change are accelerating species decline
        across terrestrial and marine ecosystems. Protecting biodiversity improves
        food security, public health, and resilience of social and economic systems
        to environmental shocks.","engine":"cecil","summary_type":"summary","target_language":"EN","cache":true}'
  response:
    status: 500
    headers:
      x-kagi-trace: 9bc5de2db1906c17b4d388a8bedac62f
      content-type: application/json
    body:
      string: '{"meta":{"id":"9bc5de2db1906c17b4d388a8bedac62f","node":"europe-west4","ms":40,"api_balance":102.463337},"data":{"output":null,"tokens":0},"error":[{"code":200,"msg":"We
        are sorry, we were not able to process this. (Min document size not reached)","ref":null}]}'
  recorded_at: 2026-04-09 07:20:57
recorded_with: VCR-vcr/2.0.0
