http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v0/summarize
    body:
      string: '{"text":"Biodiversity underpins ecosystem services such as pollination,
        soil fertility, water purification, and climate regulation. Habitat loss,
        pollution, invasive species, and climate change are accelerating species decline,
        which affects food security and resilience. Conservation and restoration policies
        can improve ecological and economic stability.","engine":"cecil","summary_type":"summary","target_language":"EN","cache":true}'
  response:
    status: 500
    headers:
      x-kagi-trace: 81285b72106c3a1f60e1f830471ab445
      content-type: application/json
    body:
      string: '{"meta":{"id":"81285b72106c3a1f60e1f830471ab445","node":"europe-west4","ms":25,"api_balance":102.463337},"data":{"output":null,"tokens":0},"error":[{"code":200,"msg":"We
        are sorry, we were not able to process this. (Min document size not reached)","ref":null}]}'
  recorded_at: 2026-04-09 07:21:01
- request:
    method: POST
    uri: https://kagi.com/api/v0/summarize
    body:
      string: '{"text":"Too short.","engine":"cecil","summary_type":"summary","target_language":"EN","cache":true}'
  response:
    status: 500
    headers:
      x-kagi-trace: 1402a5b591fb1be8119b5f2d20143ea9
      content-type: application/json
    body:
      string: '{"meta":{"id":"1402a5b591fb1be8119b5f2d20143ea9","node":"europe-west4","ms":45,"api_balance":102.463337},"data":{"output":null,"tokens":0},"error":[{"code":200,"msg":"We
        are sorry, we were not able to process this. (Min document size not reached)","ref":null}]}'
  recorded_at: 2026-04-09 07:21:01
recorded_with: VCR-vcr/2.0.0
