http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v0/fastgpt
    body:
      string: '{"query":"What is Python 3.11?","cache":true,"web_search":true}'
  response:
    status: 200
    headers:
      x-kagi-trace: 895cc30e752bc7b8dd9546af04ca6091
      content-type: application/json
    body:
      string: '{"meta":{"id":"895cc30e752bc7b8dd9546af04ca6091","node":"europe-west4","ms":3504,"api_balance":102.463337},"data":{"output":"**Python
        3.11** is a significant release of the Python programming language, officially
        released on October 24, 2022 【1】. It introduced numerous new features and
        optimizations, most notably a substantial performance improvement, making
        it **10-60% faster than Python 3.10** on average 【1】.\n\nKey highlights and
        features of Python 3.11 include:\n\n*   **Performance Enhancements**: The
        Faster CPython project has led to considerable speedups in execution time
        【1】.\n*   **Improved Error Reporting**: PEP 657 introduces **fine-grained
        error locations in tracebacks**, making it easier to pinpoint the exact source
        of errors 【2】.\n*   **New Features**: The release includes various other enhancements
        and fixes, detailed in its changelog 【4】 【5】.\n\nThe official documentation
        for Python 3.11 is available, providing comprehensive details on its contents
        and features 【3】.","tokens":3329,"references":[{"title":"What’s New In Python
        3.11","url":"https://docs.python.org/3/whatsnew/3.11.html","citation_contribution":392,"snippet":"This
        article explains the new features in Python 3.11, compared to 3.10. Python
        3.11 was released on October 24, 2022. For full details, see the changelog.
        Summary – Release highlights ¶ Python 3.11 is between 10-60% faster than Python
        3.10. On average, we measured a 1.25x speedup on the standard benchmark suite.
        See Faster CPython for details.","is_search_result":true},{"title":"Python
        Documentation contents","url":"https://docs.python.org/3.11/contents.html","citation_contribution":157,"snippet":"What’s
        New in Python- What’s New In Python 3.11- Summary – Release highlights, New
        Features- PEP 657: Fine-grained error locations in tracebacks, PEP 654 ...","is_search_result":true},{"title":"3.11.15
        Documentation","url":"https://docs.python.org/3.11/","citation_contribution":118,"snippet":"Python
        3.11.15 documentation [...]
