http_interactions:
- request:
    method: GET
    uri: https://kagi.com/api/v0/search?q=biodiversity+evidence+synthesis&limit=2
  response:
    status: 200
    headers:
      x-kagi-trace: 48d0395783b11128fcebbbbc078cad29
      content-type: application/json
    body:
      string: '{"meta":{"id":"48d0395783b11128fcebbbbc078cad29","node":"europe-west4","ms":1662,"api_balance":107.988917},"data":[{"t":0,"url":"https://www.sciencedirect.com/science/article/abs/pii/S0169534724001046","title":"Leveraging
        AI to improve evidence synthesis in conservation","snippet":"von O Berger-Tal
        · 2024 · Zitiert von: 19 — AI has the potential to speed up and hopefully
        improve the process of evidence synthesis, which can be particularly useful
        for underfunded applied fields, such ..."},{"t":0,"url":"https://www.scienceeurope.org/events/webinar-potential-of-rapid-evidence-synthesis-for-environmental-action/","title":"Potential
        of Rapid Evidence Synthesis for Environmental ...","snippet":"Rapid evidence
        synthesis can be defined as “a series of methods that adapts systematic review
        methods for shorter timelines than for a full ..."},{"t":1,"list":["biodiversity
        evidence synthesis impact factor","biodiversity uzh"]}]}'
  recorded_at: 2025-10-08 12:32:36
recorded_with: VCR-vcr/2.0.0
